.img{
    height: 200px;
    width: 1000px;
    margin: 15px;
    border-radius: 20px 10px 5px 5px;
}

.descriptionBloc{
    padding: 10px;
}

.fullNAmeStyle{
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}
.aboutMe{
    font-size: 15px;
    font-style: italic;
}