.header{
    grid-area: h;
    background-color: greenyellow;
    border-radius: 15px;
    margin: 5px;
    }
    
    .header img{
      width: 40px;
    }

    .loginBlock{
      float: right;
      color:blue;
    }